// Variables
$bg-image: url('../img/showcase.jpg');
$website-width: 1280px;
$main-color: #01BAEF;
$light-color: #fefffe;
$medium-color: #CFD5DD;
$dark-color: #114B5F;

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}