// Variables
$bg-image: url('../img/showcase.jpg');
$website-width: 1280px;
$main-color: #10162e;
$light-color: #fefffe;
$medium-color: #7d8ca3;
$dark-color: #333b48;

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}